.demo-title {
  margin: 30px 0 20px;
  font-weight: 400;
  color: #1f2f3d;
}

.demo-introduction {
  font-size: 14px;
  color: #5e6d82;
  margin: 10px 0;
}

.demo-tip {
  padding: 10px 16px;
  background-color: #ecf8ff;
  border-radius: 4px;
  border-left: 5px solid #66cccc;
  margin: 20px 0;

  p {
    margin: 10px 0;
  }
}

.demo-code-block {
  line-height: 1.8;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 12px;
  padding: 18px 24px;
  background-color: #fafafa;
  border: 1px solid #eaeefb;
  margin-bottom: 25px;
  border-radius: 4px;
  -webkit-font-smoothing: auto;
}

.demo-table-title {
  font-weight: 400;
  color: #1f2f3d;
  font-size: 24px;
  margin: 20px 0;
}