.demo-title {
  margin: 30px 0 20px;
  font-weight: 400;
  color: #1f2f3d;
}

.demo-introduction {
  font-size: 14px;
  color: #5e6d82;
  margin: 10px 0;
}

.demo-tip {
  padding: 28px 16px;
  background-color: #ecf8ff;
  border-radius: 4px;
  border-left: 5px solid #66cccc;
  margin: 20px 0;
}

.demo-table-title {
  font-weight: 400;
  color: #1f2f3d;
  font-size: 24px;
  margin: 20px 0;
}